body {
    /*колір фону*/
    background-color: #a9a9a9;

    /*колір тексту*/
    color: #90ee90;
}

/*колір тексту посилань*/
a {
    color: #90ee90
}

/*вирівнювання для заголовків*/
h1, 
h2 {
text-align: center;
}